.modai-admin-section_header {
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.modai-admin--advanced_config_grid .x-grid3-scroller {
    max-height: 200px;
}

.modai-admin--advanced_config_grid .x-grid3-scroller {
    overflow-y: scroll !important;
}

.modai-admin--invalid_row {
    background-color: #ffeaea;
}

.modai-admin-label_button {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.modai-admin--prompt-library_category_disabled {
    font-style: italic;
}
